<h1>Posts</h1>

<% if @posts.count > 0 %>
    <table class="table table-striped table-hover">
      <thead>
      <tr><td> Body </td><td> Headers (Key) </td> <td> Headers (Value) </td> </tr>
      </thead>
      <tbody>
      <% @posts.each do |post| %>
          <tr id="<%= post.id%>" class="post-row" >
            <td> <%= post.body %> </td>
            <% (post.serial_email || {}).each do |key, value| %>
                <td> <%= key %>  </td>
                <td> <%= value %> </td>
                </tr>
                <tr> <td> </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p><em>Oops, doesn't look like there are any posts yet.</em></p>
<% end %> 
